<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/layui/layui.js"></script>
<link rel="stylesheet" href="/layui/css/layui.css">

</head>
<body>

	<form class="layui-form" action="../sys/Change" method="post">
        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-form-item">
                <label class="layui-input-inline">输入新密码：</label>
                <input type="text" name="password" class="layui-input">
            </div>
        </div>
        <button class="layui-btn">确定修改</button>
    </form>
</body>
</html>