<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/layui/layui.js"></script>
<script src="/JQuery/jquery-1.3.1.js"></script>
<link rel="stylesheet" href="/layui/css/layui.css">

</head>
<body>
<div class="" style="padding: 15px;">

    	  <table class="layui-hide" id="customerTable" lay-filter="customerTable"></table>
    	  <div id="customerToolBar" style="display: none">
        
    </div>
           
</div>

<div id="customerRowBar" style="display: none;">
        
        <button th:if="${session.role} eq admin" type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger layui-btn-radius"><i
                class="layui-icon layui-icon-delete"></i>删除
        </button>
 </div>

 
 
<script type="text/javascript">

    //提升数据表格的作用域，因为底下还有一个reloadTable方法
    var tableIns;

    layui.use(['jquery', 'form', 'layer', 'table'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var table = layui.table;

        //初始化表格 加载数据
        tableIns = table.render({
            elem: "#customerTable",
            title: "客户数据表格",
            url: "/Page/userDeList",
            toolbar: "#customerToolBar",
            page: true,
            height: "full-180",
            cols: [ [
                {type:'checkbox',fixed:'left'},
                {field: 'id', title: 'ID', align: 'center',width:'180'},
                {field: 'username', title: '用户名', align: 'center',width:'180'},
                {field: 'password', title: '密码', align: 'center',width:'180'},
                {field: 'role', title: '权限', align: 'center',width:'180'},
                {fixed: 'right', title: '操作', toolbar: '#customerRowBar', align: 'center',width:'180'}       
                ] ],
            done: function (data, curr, count) {
                //不是第一页时，如果当前返回的数据为0那么就返回上一页
                if (data.data.length == 0 && curr != 1) {
                    tableIns.reload({
                        page: {
                            curr: curr - 1
                        }
                    })
                }
            }
        });

        //监控模糊查询按钮事件
        form.on("submit(doSearch)", function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });

        //监控工具条事件
        table.on("toolbar(customerTable)", function (obj) {
            switch (obj.event) {
                case 'add':
                    openAddLayer();
                    break;
                case 'deleteBatch':
                    batchDeleteCustomer();
                    break;
            };
        });

        //监控行工具条事件
        table.on("tool(customerTable)", function (obj) {
            //获取当前行数据
            var data = obj.data;
            switch (obj.event) {
                case 'delete':
                    deleteCustomer(data);
                    break;
                case 'update':
                    updateCustomer(data);
                    break;
            };
        });

        var mainIndex;
        var url;

        //打开添加弹出层
        function openAddLayer() {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['700px','500px'],
                title:'添加客户',
                success:function () {
                    $("#dataFrm")[0].reset();
                    url="";
                }
            });
            return false;
        }

        //打开修改的弹出层
        function updateCustomer(data) {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['700px','500px'],
                title:'修改客户',
                success:function () {
                    //清空原有的数据
                    $("#dataFrm")[0].reset();
                    //装载新的数据
                    form.val("dataFrm",data);
                    url="";
                }
            });
        }

        form.on("submit(doSubmit)",function (data) {
            $.post(url,data.field,function (res) {
                if (res.code==200){
                    tableIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            });
            return false;
        });


        //删除
        function deleteCustomer(data) {
            layer.confirm('你确定要永久删除【' + data.username + '】这个客户吗？', {icon: 3, title: '提示'}, function (index) {
                $.post("/sys/DeDelete", {id: data.id},function (res) {
                    if (res.code == 200) {
                        tableIns.reload({
                            where:"",
                        });
                    }
                    layer.msg(res.msg);
                });
                layer.close(index);
            });
        }



    });


</script>





</body>
</html>